# Development Environment
# RENAME TO .env ON SERVER

# Telegram Bot
BOT_TOKEN=
ADMIN_IDS=
WEBHOOK_URL=

# Security
SYSTEM_OWNER_ID=
DEBUG=
INITIAL_CHATS='[{"id": -1003437568976, "title": "FM Chat", "admin_chat_id": -1003652516810}, {"id": -1003652516810, "title": "FM Admin", "admin_chat_id": null}, {"id": -1003625911268, "title": "FM Channel", "admin_chat_id": null}]'

# PostrgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=

# WebApp
WEBAPP_URL=

# Ports (Host:Container)
APP_PORT=
DB_PORT=
REDIS_PORT=
